/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: greenyellow;
}

h1 {
    text-align: center;
    padding-top: 2em;
}

#question {
    text-align: center;
    padding: 3em;
    padding-bottom: 4em;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    grid-gap: 10px;
    /* Adjust the gap between grid items as needed */
    justify-items: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.btn {
    background-color: #FF74F1;
    width: 100%;
    /* Make buttons take up the full width of their columns */
    padding: 10px;
    /* Add padding for spacing within buttons */
    text-align: center;
    /* Center the text within buttons */
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #CD42BF;
    color: white;
}

.btn:active {
    font-weight: bold;
}

.score-board {
    text-align: center;
    justify-items: center;
    padding: 3em;
}